.main {
  min-height: 100vh;
  /* clip-path: polygon(50% 0%, 0% 100%, 100% 100%); */
  /* clip-path: polygon(135% 0%, -35% 0%, 48% 168%); */
}
.background {
  /* background-image: url("../img/bg.png"); */
  /* width: 100%; */
  /* height: 100%; */
  /* background-repeat: no-repeat; */
  /* background-size: 100% 100%; */
  /* min-height: 100vh; */
  /* clip-path: polygon(298% 0%, -169% 0%, 49% 108%); */
  /* clip-path: polygon(128% 0%, -27% 0%, 49% 84%); */
}

.Intro {
  background-image: url("../../src/img/bg.png");
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
  /* background-color: red; */
}
.logoSm {
  display: none;
}
/*  */
.heroParaSm {
  display: none;
}
.HeroHeading {
  width: 40%;
}

@media only screen and (max-width: 1024px) {
  .Intro {
    background-image: url("../../src/img/bg.png");
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    min-height: 100vh;
  }
  .HeroHeading {
    font-size: 47px;
    width: 40%;
    line-height: normal;
    /* font-family: "Actor", sans-serif; */
  }
  .NavbarContainer {
    width: 100%;
    margin: auto;
  }
  .heroPara {
    width: 50%;
  }

  /* .arrow {
    display: none !important;
  } */
}

@media only screen and (max-width: 900px) {
  .Intro {
    background-image: url("../../src/img/bg.png");
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    min-height: 87vh;
  }
  .HeroHeading {
    font-size: 47px;
    width: 50%;
    line-height: normal;
    /* font-family: "Actor", sans-serif; */
  }
  .NavbarContainer {
    width: 100%;
    margin: auto;
  }
  .HeroHeading {
    padding-top: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .Intro {
    background-image: url("../../src/img/bg.png");
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    min-height: 100vh;
  }
  .NavbarContainer {
    width: 100%;
    margin: auto;
  }
  .logoCenter {
    margin-left: 26px;
  }
  .Heading {
    padding-top: 150px;
  }
  .heroPara {
    width: 60%;
  }
  .HeroHeading {
    padding-top: 80px;
  }
}

@media only screen and (max-width: 767px) {
  .NavbarContainer {
    padding-top: 30px;
    justify-content: center;
  }
  /* .HeroHeading {
    padding-top: 60px;
  } */

  .logoSm {
    display: block;
  }

  .Heading {
    padding-top: 120px;
  }
  .buttonSection {
    margin-top: 35px;
  }
}

@media only screen and (max-width: 544px) {
  .HeroHeading {
    width: 55%;
  }
  .heroPara {
    display: none;
  }

  .heroParaSm {
    width: 55%;
    display: block;
  }
}

@media only screen and (max-width: 500px) {
  .HeroHeading {
    width: 70%;
  }
}
@media only screen and (max-width: 425px) {
  .Intro {
    /* min-height: 100vh !important; */
  }
  .HeroHeading {
    font-size: 45px;
    width: 75%;
    /* font-family: "Actor", sans-serif; */
  }
  .heroParaSm {
    width: 60%;
    display: block;
  }
}

@media only screen and (max-width: 347px) {
  .HeroHeading {
    font-size: 37px;
  }
}

.heroPara {
  font-size: 22px;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 0.2px;
}
.heroParaSm {
  font-size: 21px;
  font-style: normal;
  line-height: 30px;
}
.btn {
  font-family: "Actor", sans-serif;
}
