.SubscribeContainer {
  background-image: url("../../src/img/subscribeImages/bgImage.png");
  /* background-size: 100%; */
  /* width: 77%;
  height: 43vh;
  margin: auto;  */
  background-size: 98% 108%;
  background-repeat: no-repeat;
  padding: 1px 0px 0px 23px;
}
.input {
  width: 50%;
}

.iconImage {
  width: 15%;
}

/* .SubCardHeading {
  padding: 62px 160px 25px 154px;
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
} */

.box {
  /* background: var(--light-color, #dfd7f96e); */
  border-radius: 10px;
  border-top-left-radius: 160px;
  width: 75%;
  margin: auto;
}

.SubCardHeading {
  padding: 62px 160px 25px 154px;
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 47px;
}

@media only screen and (max-width: 1440px) {
  .SubCardHeading {
    padding: 62px 160px 25px 154px;
    font-family: Poppins, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 47px;
  }
}

@media only screen and (max-width: 1280px) {
  .SubCardHeading {
    padding: 62px 160px 25px 154px;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 47px;
  }
}

@media only screen and (max-width: 1024px) {
  .box {
    /* background: var(--light-color, #dfd7f96e); */
    /* background: aliceblue; */
    border-radius: 10px;
    border-top-left-radius: 160px;
    width: 90%;
    margin: auto;
  }

  .SubCardHeading {
    padding: 62px 100px 20px 100px;
    font-family: Poppins, sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .SubscribeContainer {
    background-image: none;
    background-size: 109% 107%;
    background-repeat: no-repeat;
    padding: 1px 0px 0px 23px;
  }
  .iconImage {
    width: 8%;
  }

  .box {
    background: var(--light-color, #dfd7f96e);
    /* background: aliceblue; */
    border-radius: 10px;
    border-top-left-radius: 160px;
    width: 90%;
    margin: auto;
  }

  .SubCardHeading {
    padding: 62px 100px 20px 100px;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
  }
  /* .iconImage {
    width: 11%;
  } */
}

@media only screen and (max-width: 633px) {
  .box {
    background: var(--light-color, #dfd7f96e);
    /* background: aliceblue; */
    border-radius: 10px;
    border-top-left-radius: 160px;
    width: 90%;
    margin: auto;
  }

  .SubCardHeading {
    padding: 60px 60px 10px 50px;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
  }
}

@media only screen and (max-width: 538px) {
  .box {
    background: var(--light-color, #dfd7f96e);
    /* background: aliceblue; */
    border-radius: 10px;
    border-top-left-radius: 160px;
    width: 65%;
    margin: auto;
  }
  .iconImage {
    width: 18%;
  }
  .Subscribebtn {
    margin-top: 15px;
  }
  .input {
    width: 100%;
  }
  .inputContainer {
    flex-wrap: wrap;
  }
  .SvgImage {
    display: none;
    left: -158px;
    top: 36px;
  }
}

@media only screen and (max-width: 320px) {
  .box {
    background: var(--light-color, #dfd7f96e);
    /* background: aliceblue; */
    border-radius: 10px;
    border-top-left-radius: 160px;
    width: 60%;
    margin: auto;
  }
  .Subscribebtn {
    margin-top: 15px;
  }
  .iconImage {
    width: 22%;
  }
  .input {
    width: 100%;
  }
  .inputContainer {
    flex-wrap: wrap;
  }
  /* .SvgImage {
    position: fixed;
    left: -110px;
    top: 36px;
  } */
}

.Subscribebtn {
  background: var(
    --gradient,
    linear-gradient(180deg, #ff946d 0%, #ff7d68 100%)
  );
}

/* .img {
  float: right;
  position: relative;
  top: -30px;
  right: 45px;
} */
