.main {
  min-height: 100vh;
  /* clip-path: polygon(50% 0%, 0% 100%, 100% 100%); */
  /* clip-path: polygon(135% 0%, -35% 0%, 48% 168%); */
}
.background {
  /* background-image: url("../img/bg.png"); */
  /* width: 100%; */
  /* height: 100%; */
  /* background-repeat: no-repeat; */
  /* background-size: 100% 100%; */
  /* min-height: 100vh; */
  /* clip-path: polygon(298% 0%, -169% 0%, 49% 108%); */
  /* clip-path: polygon(128% 0%, -27% 0%, 49% 84%); */
}

.Intro {
  background-image: url("../img/bg.png");
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 90vh;
  /* background-color: red; */
}
.logoSm {
  display: none;
}
.NavbarContainer {
  width: 80%;
  margin: auto;
}
.logoCenter {
  margin-left: 56px;
}

@media only screen and (max-width: 1024px) {
  .HeroHeading {
    font-size: 47px;
    width: 44%;
    line-height: normal;
    /* font-family: "Actor", sans-serif; */
  }
  .NavbarContainer {
    width: 100%;
    margin: auto;
  }
  .arrow {
    display: none !important;
  }
}

@media only screen and (max-width: 768px) {
  .NavbarContainer {
    width: 100%;
    margin: auto;
  }
  .logoCenter {
    margin-left: 26px;
  }
  .Heading {
    padding-top: 150px;
  }
  .footerContainer {
    flex-wrap: wrap;
  }
  .arrow {
    display: none !important;
  }
}

@media only screen and (max-width: 690px) {
  .Intro {
    /* min-height: 100vh !important; */
  }
  .HeroHeading {
    font-size: 37px;
    width: 70%;
    /* font-family: "Actor", sans-serif; */
  }
}

@media only screen and (max-width: 767px) {
  .Intro {
    background-image: url("../img/bg.png");
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    min-height: 100vh;
  }
  .NavbarContainer {
    padding-top: 30px;
    justify-content: center;
  }
  .HeroHeading {
    padding-top: 60px;
  }

  .logoSm {
    display: block;
  }
  .heroPara {
    display: none;
  }
  .heroParaSm {
    width: 62%;
  }
  .Heading {
    padding-top: 120px;
  }
  .buttonSection {
    margin-top: 35px;
  }
  .FeaturesPara {
    display: none;
  }
  .FeaturesParaSm {
    width: 55%;
    font-family: Actor, sans-serif;
    font-size: 19px;
    line-height: 29px;
    color: #374754;
  }
  .FeatureHeading {
    padding-top: 160px;
    font-family: Actor, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.2px;
  }
  .FeatureService {
    width: 100%;
    padding: 15px;
  }
  .contact {
    margin-right: 128px;
  }
  /* .mediaIcons {
    margin-right: 119px;
  } */
}

.FeatureService {
  width: 100%;
  font-family: Actor, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.1px;
  margin: auto;
}
.FeatureDesign {
  font-family: Actor, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.1px;
}
.video {
  border-radius: 15px;
  box-shadow: -3px 1px 50.145px -8px;
}
.navbar {
  z-index: 1;
}
.li {
  list-style: none;
  margin-left: 15px;
  background-color: red;
}

.nav-items {
  font-family: "Actor", sans-serif;
  font-size: 15px;
}
.heroPara {
  font-size: 22px;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 0.2px;
}
.heroParaSm {
  font-size: 21px;
  font-style: normal;
  line-height: 30px;
}
.btn {
  font-family: "Actor", sans-serif;
}

.FeatureServicePara {
  font-family: Actor, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 100;
  line-height: 25px;
  letter-spacing: 0.5px;
  color: #374754;
}
.footerSection {
  background: var(--Dark-background, #252b42);
}
