.TilesSection {
  display: block;
}
.TilesPara {
  font-family: Actor, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
}

.Clients {
  display: none;
}
